<h1>請填表格並新增</h1>

<% if @book.errors.any? %>
  <ul>
    <%= @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@book) do |form| %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :author %>
  <%= form.text_field :author %>
</div>

<div>
  <%= form.label :price %>
  <%= form.number_field :price %>
</div>

<div>
  <%= form.label :comment %>
  <%= form.text_area :comment %>
</div>

<div>
  <%= form.submit '送出' %>
</div>

<% end %>